body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #3c15e8;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.usuario-info span {
  font-size: 18px;
  font-weight:lighter ;
}

.botao-Sair{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.novo-ticket {
  background-color: #3c15e8;
  color: white;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 25px;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}
